@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{


        scroll-behavior: smooth;

    
        font-family: "Righteous", sans-serif;
        font-weight: 400;
        font-style: normal;
      
      


        background: #000;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

       
       box-sizing: border-box;

      
}

body,html{
    cursor: url("./image/image-32x32.jpg") ,auto;
}



  /* cursor movements */

/* 

  .cursor{
    z-index: 999;
    position: fixed;
    width: 20px;
    height: 20px;
    background: var(--third-one);
    border-radius: 50%;

    box-shadow: 0 0 20px var(--third-one);
    box-shadow: 0 0 60px var(--third-one);
    box-shadow: 0 0 100px var(--third-one);


    pointer-events: none;
    animation: colors 7s infinite;

    transform: translate(-50%,-50%);

    display: none;

} */
/* 
@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}


.cursor::before{
    content: '';
    position: absolute;
    background: var(--third-one);
    width: 50px;
    height: 50px;
    opacity: 0.2;
    border-radius: 50%;
    transform: translate(-30%,-30%);
}






 */


/* curser closed */


h1{
    padding-top: 90px;
    font-size: 67px;
    color: var(--first-one);
}


:root{
    --back:#000;
    --first-one:rgb(96, 250, 104);
    --sec-one:rgb(130, 238, 233);
    --third-one:rgb(107, 62, 244);

    --last:rgb(127, 102, 218);
    --hover-text:rgb(42, 68, 53);
}

.nav-button a{
   font-size: 55px;
   color: var(--first-one);
   text-decoration: none;
   margin-left: 90%;
}
.nav-button:hover{ 
    cursor: url("4.png"), auto;
}





#this{
    display: flex;

}

#navbar{
    text-align: center;
    display: none;
}


 .navbar{
    width: 90%;
    height: 100px;
    background: var(--last);

    margin-left: 90px;


    text-align: center;
    border: 5px solid var(--third-one);
  
    transition: 2s ease-in;

   
}

.navbar ul a{
    font-size: 30px;
    text-decoration: none;
    background: transparent;

    color: var(--hover-text);

    padding-left: 50px;
}

.navbar ul a:hover,
#ac{
    color: var(--first-one);
    transition: 0.30s;
}


.navbar ul {
    background: transparent;
    padding-top: 15px;
    margin-left: 30%;
}


/* section home */




.jd-if-mob{

    display: none;
}

.jd-if img{
    width: 68%;
}

.jd-if{
  
    margin-left: 460px;
    margin-top: 100px;

}

/* section media */

.cont-media ul a{
    font-size: 65px;

    text-decoration: none;
    color: var(--sec-one);

    padding-left: 40px;
}
.cont-media{

    margin-top: 190px;
    margin-bottom: 100px;
    text-align: center;
}

.cont-media ul a:hover{
    
    color: var(--first-one);

}

/* section about */

.about{
    text-align: center;
}

.about-img-containner img{
    width: 70%;
}

/* section projects */

.detials h2{
  font-size: 34px;
  color: var(--first-one);
 
}

.detials p{
  color: var(--sec-one);
  
}

.container-div{
    display: flex;
    flex-wrap: wrap;
    margin-left: 130px;
}

.pro{
    padding-left: 180px;
    /* position: absolute; */
}
.images a{
    font-size: 40px;
    color: aqua;
}

/* section bottom */

.r-top a{
    font-size: 65px;
    color: var(--first-one);
    margin-left: 92%;
   padding-top: 60px;
}

.r-top{
    margin-top: 100px;
}

.images a span{
    display: none;
}





  /* responsive html */


.respons-view{
   width: 100%;
   
}
.inside{
    width: 200px;
    height: 90px;
    border-radius: 30px;
    background: var(--last);
    text-align: center;

    margin-left: 300px;
    margin-bottom: 50px;
    
}
.inside a{
    font-size: 30px;
    text-decoration: none;
    color:var(--hover-text);
    background-color: transparent;
    
}
.inside a:hover{
    color: var(--sec-one);
}



::-webkit-scrollbar{
    width: 9px;
}
::-webkit-scrollbar-track{
    background:#000;
}
::-webkit-scrollbar-thumb{
    background: var(--third-one);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--first-one);
}


@media(max-width: 768px){

    .inside{
        display: none;
    }

    *{
        h1{
            font-size: 32px;
        }
       
    }
    

    /* mobile home section */

    .jd-if{
        display: none;

    }
    .jd-if-mob{
        display: flex;
    }
    
    .jd-if-mob img{
        width: 280px;
        margin-left: 50px;
        margin-top: 50px;
    }


    /* navbar secton */

   .nav-button a{
    margin-left: 290px;
    font-size: 40px;
   }

   .navbar {

   position: fixed;
   justify-content: space-between;
   
   margin-top: 1px;
    margin-left: 15px;
    padding-left:10px;
    text-align: center;
    width: 380px;
    height: 80px 
   }

   .navbar ul a{
    margin-left: -15px;
    font-size: 15px;
    padding-left: 10px;
   }
   .navbar a{
    margin-right: 25px;
    padding-left: 10px;
   }
   .navbar ul{
    margin-left: 15px;
   }
  

   /* social media secton */

   .cont-media{
    margin-top: 0;
    
    margin-left: 0;
   }
   .cont-media ul a{
    font-size: 30px;
    padding-left: 12px;
   }
   .cont-media ul{
    margin-left: 0;
    margin-right: 50px;
   }

   /* about me section */
   .about-img-containner{
    margin-left: 0px;
    padding-left: 0;
   }
   
   /* projjects section */

   .project{
   
    text-align: center;
    h1{
        margin-left: 0px;
    }
   }
   .container-div{
    padding-left: 10px;
    margin-left: 0;
    margin-right: 0px;
   }

   .images a span{
    font-size: 10px;
    display: flex;
    margin-left: 90px;
    margin-top: 0px;
    text-decoration: none;
    
}
 .images img{
    width: 250px;
    margin-left: -120px;
    padding-left: 0;
 }
 .images
 {
   
    margin-left: 0;
    padding-left: 0;
 }


  .images a{
    text-decoration: none;
  }
  .images a i{

    display: none;
  }

  /* return top secton */

  
  .r-top a{
    font-size: 30px;
    margin-bottom: 0;
    margin-left: 325px;
  }
  

}

/* compleately finished */