@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Tangerine:wght@400;700&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;



    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    scroll-behavior: smooth;

}





:root{
    --body:#1c1c20;
    --logo:#4d4a4fa8;
    --text:#e1b5f3;
    --outline:#988db4;
    --link-text:#a841fc;
    --red-vio:#7014b1;
    --pro-back:#3e3151ba;
}



body{
    background: var(--body);
}




/* ================================================================================================================  */
/* ================================================================================================================  */
/*                                                                                                                   */
/*                                      MAIN SECTION                                                                 */
/*                                                                                                                   */
/* ================================================================================================================= */
/* ================================================================================================================= */

.section-style{
    width: 100%;
    height: 100vh;
}




#main{                
    background-image: url('./image/background/drop/3.png'),
    url('./image/background/drop/4.png');
    background-repeat: no-repeat;
    background-position: right calc(10% + 80px) top calc(100% - 400px) ,left bottom;
    /* background-position: right; */
    background-size: 300px 300px, 300px 300px;
}



/* ============ */
/*  logo  */
/* =========== */

.logo img {
    width: 3rem;
    position: absolute;
    margin-left: 3rem;
    margin-top: 1.73rem;
    border-radius: 5px;
    cursor: pointer;
}

/* ================ */
/*  texts */
/* ================ */


.texts{
    margin-top: 15%;
    margin-left: 20%;
    position: absolute;
    h4{
        color: var(--link-text);
        font-weight: 300;
    }
    h1{
        color: var(--text);
        font-weight: 700;
        font-size: 3rem;
    }
    h2{
        color: #6d2aa3;
    }
}





/* ================ */
/*  get touch  btn  */
/* ================ */

.get-touch{
    margin-left: 20%;
    margin-top: 30%;
    position: absolute;
}

 

.scroll-btn a{
    color: var(--text);
    text-decoration: none;
    background: var(--logo);
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 16px;
    border-radius: 12px;
    border: solid 1px var(--outline);
}

.scroll-btn a:hover{
    background: var(--link-text);
    color: var(--text);
    transition: 0.5s ease-in-out;
}

/* =============== */
/*  resume btn */
/* ============== */


.resume-btn{
    margin-left: 90%;
    margin-top: 2%;
    position: absolute;
}

.resume-btn a{
    color: var(--link-text);
   font-weight: 900;
}

/* =============== */
/* bar */
/* ============== */

.bar{
    margin-left: 93%;
    margin-top: 20%;
    position: absolute;
}

.bar ul li{

    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.bar ul li a{
    color: var(--link-text  );
    text-decoration: none;
    font-size: 25px;
    margin-top: 0.5rem;
}

.bar ul li a:hover{
    color: var(--red-vio);
}



/* ======================================== */
/* ======================================= */

/*     MEDIA WIDTH   OF MAIN SECTION       */

/* ======================================== */
/* ========================================= */




@media (max-width:768px) {


    #main{
        background-position: left calc(100% + 160px) top calc(100% - 400px) ,left bottom;

    }



.get-touch{
    margin-top: 102%;
}
.texts{
    margin-top: 45%;
    h1{
        font-size: 2.5rem;
    }
}
.resume-btn{
    margin-left: 78%;
    margin-top: 10%;
}
.bar{
    margin-left: 80%;
    margin-top: 120%;
}
.bar ul li a{
     font-size:29px;
}




}


@media (min-width: 600px) and (max-width: 1024px) {
   .get-touch{
    margin-top: 40%;
   }
}






/* ================================================================================================================  */
/* ================================================================================================================  */
/*                                                                                                                   */
/*                                      SECTION     ONE                                                              /* 
/*                 0.1 ==>           [   indroduction    ]                                                           */
/*                                                                                                                   */
/* ================================================================================================================= */
/* ================================================================================================================= */


.one{                
    background-image: url('./image/background/drop/1.png'),
    url('./image/background/drop/2.png');
    background-repeat: no-repeat;
    background-position: left calc(100% - 80px) top calc(100% - 100px) ,left calc(10% - 240px) bottom;
    /* background-position: right; */
    background-size: 300px 300px, 300px 300px;
}



/* ========================== *\
|*           headdings        *|
\* ========================== */



.sub-head1, .sub-head2{
   margin-left: 20%;
}

.sub-head1{
    color: var(--red-vio);
}
.sub-head2{
    color: var(--text);
}


.pera{
    width: 50%;
    color: var(--text);
    margin-left: 20%;
    margin-top: 3%;
}
.pera-3{
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
}

.name{
    margin-left: 25%;
    color: var(--text);
    margin-top: 1%;
}



/* ========================== *\
|*     social bar             *|
\* ========================== */


.social-bar{
    margin-left: 20%;
    margin-top: 8%;
    position: absolute;
}
.social-bar span a{
   padding: 10px;
   background-color: var(--logo);
   border-radius: 12px;
   cursor: pointer;
}

.social-bar span a{
    color: var(--text);
    text-decoration: none;
    font-size: 28px;
    text-align: center;
    margin-left: 10px;
}

.social-bar span a:hover{
    background-color: var(--link-text);
    color: var(--body);
}



/* =======================================  */
/* =======================================  */

/*      MEDIA WIDTH   OF SECTION ONE        */

/* ======================================== */
/* ======================================== */



@media (max-width:768px){


    
.one{                
    background-repeat: no-repeat;
    background-position: left calc(100% + 30px) top calc(100% - 160px) ,left calc(100% - 240px) bottom;
    background-size: 200px 200px, 300px 300px;
}


    .pera{
        width: 65%;
    }

    .pera-1{
        margin-top: 7%;
    }
    .pera-3{
        margin-top: 9%;
    }

    .social-bar{
        margin-top: 32%;
        margin-left: 18%;
    }

}



/* ================================================================================================================  */
/* ================================================================================================================  */
/*                                                                                                                   */
/*                                      SECTION    two                                                               /* 
/*                 0.2 ==>           [   Devopment     ]                                                             */
/*                                                                                                                   */
/* ================================================================================================================= */
/* ================================================================================================================= */


.two{                
    background-image: url('./image/background/drop/6.png'),
    url('./image/background/drop/8.png');
    background-repeat: no-repeat;
    background-position: left calc(100% + 10px) top calc(100% - 100px) ,left calc(30% - 240px) bottom;
    /* background-position: right; */
    background-size: 300px 300px, 180px 180px;
}



/* ========================== *\
|*     pro                    *|
\* ========================== */


.pro-container{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.pro{
    width: 200px;
    height: 270px;
    background: var(--pro-back);
    border-radius: 12px;
    border: solid 1px var(--outline);


    h3{
        margin-left: 10%;
        color: var(--text);
    }

    p{
        margin-left: 10%;
        color: var(--link-text);
        margin-top: 10%;
        width: 80%;
    }
    span{
        margin-left: 10%;
        color: var(--red-vio);
        margin-top: 11%;
        display: block;
    }
}

.head-pro{
    display: inline-block;
    margin-top: 10%;
}

.pro span a{
    color: var(--text);
    text-decoration: none;
    background: var(--logo);
    padding: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 12px;
    border-radius: 12px;
    border: solid 1px var(--outline);
}

.pro span a:hover{
    background: var(--red-vio);
    color: var(--text);
    transition: 0.5s ease-in-out;
}

/* ============ */

.see-more-theme a{
    padding: 15px;
    padding-right: 25px;
    padding-left: 25px;
    background: var(--logo);
    border-radius: 12px;
    color:var(--text);
     text-decoration: none;
     font-size: 12px;
    }

    .see-more-theme a:hover{
        background: var(--link-text);
        color: var(--text);
        transition: 0.5s ease-in-out;
    }

/* =========== */


.see-btn{
    margin-left: 65%;
    margin-top: 7%;
    position: absolute;
}




/* ======================================== */
/* ======================================= */

/*     MEDIA WIDTH    OF SECTION TWO          */

/* ======================================== */
/* ========================================= */


@media (max-width:768px) { 

    .two{
        height: 145vh;
    }

    .pro-container{
        margin-top: 25%;
    }

    .see-btn{
        margin-left: 33%;
        margin-top: 10%;
    }
}








/* ================================================================================================================  */
/* ================================================================================================================  */
/*                                                                                                                   */
/*                                      SECTION     three                                                            /* 
/*                 0.3 ==>    n          [  designs   ]                                                              */
/*                                                                                                                   */
/* ================================================================================================================= */
/* ================================================================================================================= */






.design-container{
    width: 60%;
    margin-left: 20%;
    margin-top: 8%;

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.design{
    width: 320px;
    height: 222px;
    border-radius: 12px;
    background-size: 100%;
    background-position: cover;
    background-color: var(--body);
}



.d-1{
    background-image: url('./image/background/illustrations/PeENGUIN.png');
}

.d-2{
    background-image: url('./image/background/illustrations/Untitled\ design\ \(14\).png');
}


.design span a{
    color: var(--body);
    text-decoration: none;
    background: var(--link-text);
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 22px;
    border-radius: 12px;
    display: inline-block;
    margin-left: 80%;
    margin-top: 50%;
    border: solid 2px var(--body);
}

.design span a:hover{
    color: var(--text);
    border-color: var(--text);
}


/* ======================================== */
/* ======================================= */

/*     MEDIA WIDTH    OF SECTION TWO          */

/* ======================================== */
/* ========================================= */


@media (max-width:768px) { 

    .three{
        height: 90vh;
    }

    .design-container{
        margin-top: 25%;
    }

    .design{
        width: 200px;
        height: 150px;
    }

    .design span a{
        font-size: 18px;
        margin-left: 75%;
    }

}


@media only screen 
  and (device-width: 375px) 
  and (device-height: 667px) 
  and (-webkit-device-pixel-ratio: 2) {
    .three{
        height: 100vh;
        h4{
            margin-top: 70%;
        }
    }
}

@media only screen 
  and (device-width: 414px) 
  and (device-height: 736px) 
  and (-webkit-device-pixel-ratio: 3) {
    .three{
        height: 100vh;
        h4{
            margin-top: 70%;
        }
    }
}


@media (max-width: 375px) and (max-height: 740px) {
    .three{
        height: 100vh;
        h4{
            margin-top: 70%;
        }
    }
}



@media (max-width: 360px) and (max-height: 720px) {
    .three{
        height: 100vh;
        h4{
            margin-top: 70%;
        }
    }
}




/* ================================================================================================================= */
/* ================================================================================================================= */
/*                                         LAST SECTION                                                                          */
/* ================================================================================================================= */
/* ================================================================================================================= */


.last{
    height: 20vh;
    background: #151216;
}

.last span img{
    width: 22px;
    height: 22px;
}

.last span{
    margin-left: 45%;
    margin-top: 2%;
    display: inline-block;
    color: var(--text);
}

@media (max-width:768px) { 
   .last span{
    margin-left: 40%;
   }
}


