




main {
    position: relative;
    width: calc(min(90rem, 90%));
    margin: 0 auto;
    display: flex;
    align-items: center;
    min-height: 100vh;
    min-height: 100svh;
    column-gap: 3rem;
    padding-block: min(20vh, 3rem);
}

.swiper {
    width: 100%;
    padding: 1.875rem 0;
}

.swiper-slide {
    width: 18.75rem;
    height: 35rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
    box-shadow: 0.063rem 0.5rem 1.25rem rgba(64, 231, 243, 0.987);
   border-radius: 10px;
}

.swiper-slide-img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 0;
    bottom: -0.063rem;
   border-radius: 10px;
} 

.swiper-slide-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    z-index: -1;
}



.swiper-slide-img .shape-fill {
    fill: #ffffff;
}





@media screen and (min-width: 93.75rem) {
    .swiper {
        width: 80%;
    }
}
