



:root{
    --body:#1c1c20;
    --logo:#4d4a4fa8;
    --text:#e1b5f3;
    --outline:#988db4;
    --link-text:#a841fc;
    --red-vio:#7014b1;
    --pro-back:#3e3151ba;
}


/* ========================== *\
|*        navbar              *|
\* ========================== */



.navbar {
    background-color:var(--logo);
    padding: 1.2rem;
    /* position: fixed; */
    width: 40%;
    z-index: 1000;
    margin-left: 60%;
    margin-top: 2%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.navbar a{
    text-decoration: none;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: var(--text);
    margin-left: 18px;
    border-radius: 8px;
}

.navbar a:hover{
    background: var(--link-text);
    color: var(--text);
}





@media (max-width:768px) {
    .navbar{
        width: 100%;
        margin-left: 0%;
        border-radius: 12px;
    }
}









/* ====================================== */




.list-container{
    width: 90%;
    margin-left: 5%;
}


.horizontal-raw{
    display: inline-block;
    width: 100%;
    height: 60px;
}

.top-row{
    color: var(--link-text);
    background: var(--pro-back);
    border: solid 1px var(--outline);
    margin-top:8% ;

    
.title{
    margin-left:8%;
}
.languages{
    margin-left: 28%;
}
.links{
    margin-left: 32%;
}
.year{
    margin-left: 10%;
}

}

.horizontal-raw ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    li{
        display: inline-block;
    }
}


.first-row{
    margin-top: 1px;
}



.mid-row{
    background-color: var(--logo);
    border: solid 1px var(--body);
    cursor: pointer;

    color: #c6b1fb;
    unicode-bidi: isolate;


    
.title{
    width:40%;
    /* background: yellow; */
    margin-left: 6%;
}
.languages{

    width:55%;
    /* background-color: aqua; */
    margin-left: 8%;
  
}
.links{
    width: 20%;
    /* background: white; */
    margin-left:2%;
}
.year{
    width: 15%;
    /* background: var(--red-vio); */
    margin-left: 3%;
}

.links a{
    color:var(--text);
    margin-left: 12px;
    font-size: 22px;
}
.links a:hover{
    color: var(--link-text);
}

.languages i{
   font-size: 22px;
}

}


.links{
    display: flex;
    flex-direction: row;
}


.mid-row:hover{

background: #544a585e;
transition: 0.5s ease-in;
}



















@media (max-width:768px) {



    .list-container{
        width: 95%;
        margin-left: 2.5%;
    }


.horizontal-raw{
    height: 120px;
}


.mid-row{


    .title{
        width: 30%;
        margin-left: 3%;
    }

    .languages{
        width: 30%;
        margin-left: 0%;
    }

    .links{
        width: 15%;
        
    }


}


.top-row{

    margin-top: 10%;

    
.title{
    margin-left:5%;
}
.languages{
    margin-left: 17%;
}
.links{
    margin-left: 12%;
}
.year{
    margin-left: 0%;
}

}



}